* {margin: 0; padding: 0; outline: 0;}




body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #999;
	font-size: 12px;
	background:#bfbfbf;
}


h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -2px;
	line-height: 100%;
}

h1.title {
	font-size: 46px;
	font-weight: 700;
	color: #6a6a6a;
}

h2 {
	font-size: 24px;
}

p {
	margin: 0 0 15px 0;
}

a{
color:white;
text-decoration: none; 
}

.tiny{
	position:relative;
	top: -1ex;
	font-size: 0.8em;
}

.blue-link{
color:blue;
}
text-decoration: none;
}

.tiny{
	position:relative;
	top: -1ex;
	font-size: 0.8em;
}

.blue-link{
color:blue;
}


.menuBtn {
	background: center center no-repeat transparent;
	background: #000;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}

.clear {
	clear: both;
}
.wrap {
		width: 100%;
		max-width: 1140px;
		min-width: 960px;
		z-index: 10;
		position: relative;
		margin: 0 auto;
		padding: 0;
}

.section {
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:30px 0;
}

.innersub {
	width: 1050px;
	margin: -25px auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:30px 0;
}


.innersubsub {
	width: 960px;
	margin: -15px auto;
	position: absolute;
	min-height: 50px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: -10px;
	padding:30px 0;
}


.subMenu {
	position: fixed;
	top: 0px;	
	height: 60px;
	z-index: 1000;
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	background: #0099CC;
}

.subsubMenu{
	position: relative;
	top: 0px;
	height: 60px;
	z-index: 1000;
	width:100%;
	background: #0286b2;	
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
}


.subNavBtn {
	display: block;
	height: 25px;
	width: 15%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	color: #fff;
}

.subsubNavBtn3 {
	display: block;
	height: auto;
	width: 33.3%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 10px 0 0 0;
	text-align: center;
	color: #fff;
}

.subsubNavBtn5 {
	display: block;
	height: auto;
	width: 20%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 10px 0 0 0;
	text-align: center;
	color: #fff;
}

.subsubNavBtn7 {
	display: block;
	height: auto;
	width: 14.28%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 0px 0% 0 0%;
	text-align: center;
	color: #fff;
}
	
.subsubNavBtn2 {
	display: block;
	height: auto;
	width: 50%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 10px 0 0 0;
	text-align: center;
	color: #fff;
}

.end {
	margin: 0;
}

.subsubNavBtn {
	display: block;
	height: auto;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 10px 2% 0 2%;
	text-align: center;
	color: #fff;
}


#placeholder {
    width: 450px;
    height: 200px;
}


#content1 {
	top:120px;
	min-height: 500px;
	background: #3f3f3f;
}


#content2 {
	min-height: 500px;
	background: #504f4f;
}


#content3 {
	min-height: 500px;
	background: #2e2e2e;
}


#content4 {
	min-height: 500px;
	background: #6e87a1;
	color: white;
}

#content5 {
	min-height: 300px;
	background: #293b4d;
	color: white;
}

#content6 {
	min-height: 300px;
	background: #3f3f3f;
}

#sref{
background: #2e2e2e;

}

#pl-gegevens.hidden{
display:none;
}

body { font-family: Verdana, Arial, sans-serif; font-size: 12px; }

#placeholder1 { width: 500px; height: 500px; position: relative; margin: 0 auto; background-color: #FFF }

#placeholder2 { width: 500px; height: 500px; position: relative; margin: 0 auto; background-color: #FFF }

#placeholder3 { width: 500px; height: 500px; position: relative; margin: 0 auto; background-color: #FFF }

.legend table, .legend > div { height: 82px !important; opacity: 1 !important; right: -55px; top: 10px; width: 116px !important; }

.legend table { border: 1px solid #555; padding: 5px; }

#flot-tooltip { font-size: 12px; font-family: Verdana, Arial, sans-serif; position: absolute; display: none; border: 2px solid; padding: 2px; background-color: #FFF; opacity: 0.8; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }




